<div class="container my-4">
  <h1>Your Cart</h1>

  @if(cartItems.length > 0){
      <div class="cart-table">
          <table class="table">
              <thead>
                  <tr>
                      <th>Image</th>
                      <th>Product</th>
                      <th>Price</th>
                      <th>Quantity</th>
                      <th>Action</th>
                      <th>Subtotal</th>
                  </tr>
              </thead>
              <tbody>
                  @for (item of cartItems; track item.id) {
                      <tr>
                          <td><img [src]="item.imageUrl" [alt]="item.name" class="cart-product-image"></td>
                          <td>{{ item.name }}</td>
                          <td>€{{ item.price }}</td>
                          <td>
                              <input type="number" [value]="item.quantity" min="1" (change)="updateQuantity(item.id, $event)">
                          </td>
                          <td>
                            <button class="btn btn-danger btn-sm" (click)="removeItem(item.id)">Remove</button>
                          </td>
                          <td>€{{ (item.price * item.quantity).toFixed(2) }}</td>
                          
                      </tr>
                  }
                  <tr>
                    <td></td><td></td><td></td><td></td>
                    <td><b>Summary:</b></td>
                    <td><i>€{{ total.toFixed(2) }}</i></td>
                  </tr>
                  <tr>
                    <td></td><td></td><td></td><td></td>
                    <td><b>Delivery:</b></td>
                    <td><i>€{{ (total * 0.1).toFixed(2) }}</i></td>
                  </tr>
                  <tr>
                    <td></td><td></td><td></td><td></td>
                    <td><b>Discount -15%:</b></td>
                    <td><i>€{{ (calculateDiscount() * total).toFixed(2) }}</i></td>
                  </tr>
                  <tr>
                    <td></td><td></td><td></td><td></td>
                    <td><b>Total:</b></td>
                    <td><b><i>€{{ (total * (1 + 0.1 - calculateDiscount())).toFixed(2) }}</i></b></td>
                  </tr>
              </tbody>
          </table>
      </div>

     
  } @else {
      <p class="empty-cart-msg">Your cart is empty!</p>
  }
</div>
