<div class="container my-4">
  <h1>Your Cart </h1>

  @if(cartItems.length > 0){
      <div class="cart-table">
          <table class="table">
              <thead>
                  <tr>
                      <th>Image</th>
                      <th>Product</th>
                      <th>Price</th>
                      <th>Quantity</th>
                      <th>Action</th>
                      <th>Subtotal</th>
                  </tr>
              </thead>
              <tbody>
                  @for (item of cartItems; track item.id) {
                    <tr>
                      <td data-label="Image"><img [src]="item.imageUrl" [alt]="item.name" class="cart-product-image"></td>
                      <td data-label="Product">{{ item.name }}</td>
                      <td data-label="Price">€{{ item.price }}</td>
                      <td data-label="Quantity">
                          <input type="number" [value]="item.quantity" min="1" (change)="updateQuantity(item.id, $event)">
                      </td>
                      <td data-label="Action">
                          <button class="btn btn-custom btn-sm" (click)="removeItem(item.id)">Remove</button>
                      </td>
                      <td data-label="Subtotal">€{{ (item.price * item.quantity).toFixed(2) }}</td>
                  </tr>
                  
                  }   
                </tbody>  
            <p class="summary"><b>Products:</b> <span><i>€{{ total.toFixed(2) }}</i></span> <br>
                               <b>Delivery:  </b> <span><i>€{{ (total * 0.1).toFixed(2) }}</i></span> <br>
                               <b>Discount:</b> <span><i>€{{ (calculateDiscount() * total).toFixed(2) }}</i></span> <br>
            </p>
            <p class="total"><b>Total: </b> <span ><i>€{{ (total * (1 + 0.1 - calculateDiscount())).toFixed(2) }}</i></span></p>
                   
          </table>
          
            
      
      </div>

     
  } @else {
      <p class="empty-cart-msg">Your cart is empty!</p>
  }
</div>
